@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4 mb-4">Welcome to our Website</h1>
    <p class="lead mb-4">Explore the latest technologies and trends in web development.</p>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">ASP.NET Core</h5>
                        <p class="card-text">Discover the power and flexibility of ASP.NET Core for building modern web applications.</p>
                        <a href="https://learn.microsoft.com/aspnet/core" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Responsive Design</h5>
                        <p class="card-text">Create websites that adapt seamlessly to various screen sizes and devices.</p>
                        <a href="https://www.w3schools.com/css/css_rwd_intro.asp" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Frontend Frameworks</h5>
                        <p class="card-text">Explore popular frontend frameworks like Bootstrap, React, and Vue.js.</p>
                        <a href="https://getbootstrap.com/" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
